@charset "ISO-8859-1";
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.navbar .brand-img{
	width:30px;
	height:30px
}
.navbar-toggler{
	border:1px solid black;
}

.bg-secondary {
  --bs-bg-opacity: 0.3;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}